POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ADMIN_DB=postgres
POSTGRES_DB=fizzy_development
POSTGRES_CABLE_DB=fizzy_development_cable
POSTGRES_CACHE_DB=fizzy_development_cache
POSTGRES_QUEUE_DB=fizzy_development_queue
POSTGRES_TEST_DB=fizzy_test
POSTGRES_TEST_CABLE_DB=fizzy_test_cable
